
.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
     
    display: grid;
     
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }

  .pinBand {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

     
    display: grid;
     
    grid-template-columns: repeat(4, 20vmin); //cb- use vmin to try and control container horizontal scroll bar
    grid-template-rows: auto;
    grid-gap: 40px;
  }

  @media only screen and (min-width: 500px) {
    .pinBand {
      grid-template-columns: 1fr 1fr;
    }  
  }

  @media only screen and (min-width: 850px) {
    .pinBand {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
  }

  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .pinCard {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }

  .pinCard .pinThumb {
   max-height: 20rem;
   max-width:20rem;
  }
  
  .boardCard {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }

//   .pinCard:hover { // these are glitchy so commented out at the moment -cb
//     top: 2rem;
//     box-shadow: 0 4px 5px rgba(0,0,0,0.2);
//   }

//   .pinBoard:hover {
//     top: 2rem;
//     box-shadow: 0 4px 5px rgba(0,0,0,0.2);
//   }

//   .card h2 {
//     font-size: 20px;
//     margin: 0;
//     color: rgb(180, 30, 30);
//   }
 