<div class ="boardContainer">

    <h1>These boards are so freakin Sweet, right?</h1>

        <div class="band">  <!-- cb add class for grid styling -->
            <div class="newPinBoard" class="pinBoard">
                    <input type="text" placeholder="Board Name" ng-model="newBoard.name">
                    <br>
                    <button ng-click="saveBoard()">Add Board</button>
                </div>
            <div ng-repeat="board in boards">
                <div class = "pinBoard">
                    <h1><a ng-href="#!/pins/{{board.boardId}}">{{board.name}}</a></h1>
                        <img src={{pins.url}} alt="?">
                        <button ng-click="">Delete Board</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- <li ng-repeat="board in boards"></li>
        {{}}
        
    </ul>
        <input type = "button" ng-click="">See My Pins -->
</div>