<div class ="boardContainer">

    <h1>These boards are so freakin Sweet, right?</h1>

        <div class="band">  <!-- cb add class for grid styling -->
            <div class="newPinBoard">
                    <input type="text" placeholder="Board Name" ng-model="newBoard.name">
                    <br>
                    <button ng-click="saveBoard()">Add Board</button>
                </div>
            <div ng-repeat="board in boards | filter: searchTerm.searchTerm">
                <div class = "pinBoard">
                    <h1><a ng-href="#!/pins/{{board.boardId}}">{{board.name}}</a></h1>
                        <img src={{board.url}} onerror="this.src='https://www.mpiwsc.org/media/com_jbusinessdirectory/pictures/no_image.jpg'" alt="New Board" class="boardThumb">
                        <button ng-click="boardDestroy(board.boardId)">Delete Board</button>
                    </div>
                </div>
            </div>

        </div>
</div>