<div class = "pinContainer" >
    <button ng-click="backToBoards()">Back to Boards</button>
    <h1>Checkout my Sweet Stuff</h1>

    <h1>Board: {{boardName}}</h1>
   

         

        <div class="pinBand"><!-- cb add class band for grid styling -->
            <div id="newPinCard" class ="pinCard"> <!-- cb move thing into card grid -->
                    <input type="text" placeholder="Pin Name" ng-model="newPin.name">
                    <br>
                    <input type="text" placeholder="Image URL" ng-model="newPin.url">
                    <button ng-click="savePin()">Add Pin</button>
                </div>
            <div ng-repeat="pin in pins | filter: searchTerm.searchTerm"> 
                <div class="pinCard" id="pin"> <!-- cb add class card for grid styling -->
                    <img src="{{pin.url}}" alt="Image" class="pinThumb">
                    <div class="pinHeader">
                        <h2>{{pin.name}}</h2>
                        <button ng-click="pinRemove(pin.pinId)">Delete Pin</button>
                        
                    </div>
            </div>
        </div>
    </div>
 </div>
    <!-- <ul>
        <li ng-repeat = ""></li>
        <img ng-src ="{{}}">
        {{}}
        <input type ="button" ng-click="">Delete Pin
    </ul>
    <input type = "button" ng-click"">Go Back To Board -->
</div>
